<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="/static/css/style.css" rel="stylesheet">
  <style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>
  </head>   
  <body>
    <h1>Architeture Used</h1>
    <h2>Redis Cache Based User's session store.</h2>
    <br>
    <br>
    <br>
    <p><a href="/">
        <button class="button"><b>Home Page</button>
    </a>
    <!--
    <input type="submit" value="Login"></a>
    -->
    <img src="/static/image/architecture.jpg">
  </body>
</html>

