<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="/static/css/style.css" rel="stylesheet">
  <style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>
  </head>   
  <body>
    <h1>Home page</h1>
    <h2>Redis Cache Based User's session store.</h2>
    <br>
    <p><b>Please Login again on the route '/login', or click on the LOGIN Button.
    <br>
    <br>
    <p><i>user's session is deleted after successful logout operation.<br>
    <p><a href="/login">
        <button class="button"><b>Login</button>
    </a>
    <p><a href="/arch">
        <button class="button"><b>Architecture Used</button>
    </a>
    <!--
    <input type="submit" value="Login"></a>
    -->
  </body>
</html>

